@{
    ViewBag.Title = "Home Page";
}

<div id="mainpage" class="jumbotron">
    <h1>Travel Reviews</h1>
    <p class="lead">A travel review site for Valerie Shoskes' week five coding bootcamp project</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click the links in the navbar to see Reviews or Review Categories
        </p>
    </div>
    <div class="col-md-4">
        <h2>Made in MVC!</h2>
        <p>The intuitive framework allows for easy database management.</p>
    </div>
    <div class="col-md-4">
        <h2>Want to write a review?</h2>
        <p>Click the "Review" link in the Navbar and select "Create".</p>
    </div>
</div>